{erl_opts, [{parse_transform, lager_transform}]}.
%{erl_opts, [
%  {i, "src"},
%  {i, ".."},
%  {i, "../../../include"},
%  {i, "libs"},
%  {i, "deps"},
%  {src_dirs, ["src", "libs"]},
%  debug_info
%]}.


{sub_dirs, [ "rel" ]}.
{lib_dirs, ["deps"]}.

%{plugins, [erlson_rebar_plugin]}. % newest rebar
{rebar_plugins, [erlson_rebar_plugin]}. % older rebar

{deps, [
    {lager,     ".*", {git, "https://github.com/basho/lager.git", {tag, "3.2.4"}}},
    {ranch, ".*", {git, "git://github.com/extend/ranch.git", "1.4.0"}}     
]}.

{erl_opts, [debug_info]}.

